main {
  width: 960px;
  margin: 160px auto;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  background: #252525;
  z-index: 9;
}

header section {
  width: 960px;
  margin: 0 auto;
  height: 100px;
}

header h1 {
  font-family: 'Faster One', cursive;
  font-size: 90px;
  text-transform: capitalize;
  color: #eee;
}

header h1 span:first-of-type {
  font-size: 60px;
  text-transform: lowercase;
}

.pattern {
  background: repeating-linear-gradient(#777, #777 1.75px, #F7D50A 1.75px, #F7D50A 3.5px), repeating-linear-gradient(45deg, #555, #555 1.75px, #F7D50A 1.75px, #F7D50A 2px);
  background-blend-mode: hard-light;
}

header .pattern {
  display: block;
  width: 100%;
  height: 20px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 80px;
  background: #252525;
}

footer .pattern {
  display: block;
  width: 100%;
  height: 10px;
}

footer p {
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-family: helvetica;
  margin-top: 20px;
  color: #999;
}

#order_wrap{
  width: 540px;
  margin: 0 auto;
  background: #ddd;
  padding: 30px;
  border-radius: 5px;
  border: #F7D50A 3px solid;
}

#order_wrap h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

#product_display {
  height: 180px;
  width:180px;
  float:right;
  margin-top: 20px;
}

#product_display img {
  height: 180px;
  width:180px;
}

button {
  cursor: pointer;
  padding: 15px;
  background-color: #F7D50A;
  color: #252525;
  font-weight: bold;
  border-style: none;
  border-radius: 5px;
  border: 2px solid #ddd;
}

#add_to_cart {
  margin-top: 25px;
  margin-right: 50px;
  font-size: 14px;
  padding: 8px 16px;
  border-color: #ccc;
}

#checkout_btn {
  margin-top: 20px;
  font-size: 14px;
  padding: 8px 16px;
  border-color: #ccc;
}

.shopping_cart {
  margin-top: 30px;
  width: 960px;
  height: 360px;
  border: #F7D50A 3px solid;
  border-radius: 5px;
  background: #777;
}

.shopping_cart section{
  width: 100%;
  background: #ddd;
  margin: 10px;
  border-radius: 5px;
}

#user_information {
  width: 365px;
  height: 340px;
  float: left;
  margin-right: 5px;
}

#orders {
  float: right;
  width: 555px;
  height:340px;
  margin-left: 5px;
}

/**** shoping cart line items ****/

#selected_items_list {
  margin: 15px;
  overflow: auto;
}

#selected_items_list li{
  background: #eee;
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 10px;
  height: 105px;
}


#selected_items_list button{
  font-size: 14px;
  padding: 8px 16px;
  float: left;
  margin-left: 30px;
}

#selected_items_list img {
  background-image: url('https://placehold.it/120x120');
  height: 100px;
  width: 100px;
  border: #ddd 3px solid;
  border-radius: 5px;
  float: right;
  margin: 0 20px;
}

#selected_items_list input[type="number"] {
  height: 32px;
  width: 32px;
  margin-right: 30px;
  float: right;
}

#selected_items_list li p {
  font-weight: normal;
  font-size: 20px;
  margin: 20px;
  text-align: center;
}

#order_form input {
  padding: 4px;
  width: 300px;
  height: 14px;
  font-size: 14px;
  border-radius: 3px;
}

#order_form select {
  height: 24px;
  font-size: 14px;
}

#order_form label {
  display: block;
  font-size: 16px;
  margin: 4px;
}

#order_form fieldset {
  margin-top: 10px;
}

#order_form fieldset:nth-of-type(1), #order_form fieldset:nth-of-type(2) {
  display: inline-block;
}

#add_to_cart {
  float: right;
}
